@charset "UTF-8";

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Black.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
        background-image: url('assets/login.png');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-attachment: fixed;    
    }

.cadastro {
    width: 450px;
    height: 450px;
    border-radius: 0.5rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 80px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    margin-left: 60%;
    margin-top: 4%;
    background-color: white;
}

.p-cadastro { 
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
    color: #000000;
    font-family: "Lato";

}

input[type="email"], input[type="password"], input[type="tel"], input[type="text"] {
    width: 90%;
    padding: 0.8rem;
    border: 1px solid #000000;
    margin-top: 10px;
    position: relative;
    top: 25px;
    border-radius: 5px;
    background-color: white;
}

input::placeholder {
    font-size: 1rem;
    color: #000000;
}

.cadastrar {
    width: 70%;
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #6e1400;
    position: relative;
    top: 18px;
    margin-left: 20%;
    background-color: #6e1400;
    color: rgb(244, 243, 243);
    font-family: 'Lato';
    font-size: 1rem;
    cursor: pointer;
}

.cadastrar:hover {
    background-color: #b61b1b;
    color: rgb(244, 243, 243);
}

.voltar {
    width: 15%;
    padding: 0.9rem;
    border-radius: 8px;
    border: 1px solid #6e1400;
    position: relative;
    top: 4rem;
    margin-right: 75%;
    background-color: #6e1400;
    color: rgb(244, 243, 243);
    cursor: pointer;
    size: 2;
}

.voltar:hover {
    background-color: #b61b1b;
    color: rgb(244, 243, 243);
}